{% extends 'main.html' %}




{% block content %}
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
<div class="col-sm-8 col-sm-offset-2">
 <div class="row">
       <div class="col-sm-12">
 <h1>Form</h1>
    <form method="POST" action="">{%  csrf_token %}
        {{ form.as_p }}
        <input type="submit"  value="Submit">
    </form></body>
</div>
</div>

</div>

{% endblock content %}