{% extends 'main.html' %}




{% block content %}
<div class="col-sm-8 col-sm-offset-2">
    <div class="row">
       <div class="col-sm-12">


        <h3>To Do</h3>
          <div class="list-group" id="todo">
            {%  for obj in objects_list %}
                {% if not obj.completed %}
                  <a href="{{ obj.get_absolute_url }}" class="list-group-item">{{ obj.time }}  - {{ obj.title }}   </a>
                {% endif %}
            {% endfor %}
           </div>
       <hr>

       <h3>Done</h3>
         <div class="list-group" id="done">
            {%  for obj in objects_list %}
                {% if obj.completed %}
                  <a href="{{ obj.get_absolute_url }}" class="list-group-item">{{ obj.time }}  - {{ obj.title }}   </a>
                {% endif %}
            {% endfor %}
       </div>
         <h3>Old</h3>
         <div class="list-group" id="done">
            {%  for obj in old_tasks %}
                  <a href="{{ obj.get_absolute_url }}" class="list-group-item">{{ obj.time }}  - {{ obj.title }}   </a>
            {% endfor %}
       </div>
       </div>
   </div>
</div>
{% endblock content %}