{% extends 'main.html' %}




{% block content %}
    <h1>{{ object.title }}</h1>
    <p>{{ object.content }}</p>
    <p>{{ object.time }}</p>
    {% if not object.completed %}
        <a href="{{object.get_absolute_url}}edit"><input type='submit'  class='btn btn-default' value='Edit'></a>
        <a href="{{object.get_absolute_url}}complete"><input type='submit'  class='btn btn-default' value='Mark as complited'></a>

    {% endif %}
        <a href="{{object.get_absolute_url}}delete"><input type='submit'  class='btn btn-default' value='Delete'></a>
        <a href="/tasks/"><input type='submit'  class='btn btn-default' value='Back'></a>

{% endblock content %}